.cd-auto-hide-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    transition: transform .5s;
    background-color: #eae9ed;
    z-index: 1000;

    border-bottom: 1px solid #ccc;
}
.cd-auto-hide-header.is-hidden {
    transform: translateY(-100%);
}

.cd-auto-hide-header .menu {
    height: 100%;
    width: 1130px;
    margin: 0 auto;
}

.cd-auto-hide-header .menu .menu-item{
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.cd-auto-hide-header .menu .menu-search {
    float: right !important;
}

.cd-auto-hide-header .menu .menu-search img {
    vertical-align: middle;
}

.cd-auto-hide-header .menu .menu-item .logo{
    height: 60px;
    padding-left: 0 !important;
}

.cd-auto-hide-header .menu .menu-item .logo img {
    height: 50px;
    padding: 5px 0;
}

.cd-auto-hide-header .menu .menu-item a{
    color: #333;
    font-size: 15px;
    font-weight: 400;
    padding: 0 15px;
    display: block;
}

.cd-auto-hide-header .menu .menu-item a:hover, .cd-auto-hide-header .menu .menu-item a.active{
    color: #003e6f;
    background-color: #d5d5d5;
}


/*content begin*/
.cd-main-content {
    padding: 60px 0;
    overflow: hidden;
}

.cd-main-content .ticker {
    line-height: 15px;
    /*padding: 0 10px;*/
}

.cd-main-content .ticker .ticker-item{
    font-size: 11px;
    display: inline-block;
    margin-right: 5px;
}

.cd-main-content .ticker .ticker-item .ticker-item-p{
    color:red;
    font-weight: 700;
}
.cd-main-content .swiper-container {
    width: 1110px;
    height: 150px;
}

.cd-main-content .swiper-container .swiper-button-prev, .cd-main-content .swiper-container .swiper-button-next{
    background-size: 10px 40px;
}

.cd-main-content .swiper-container .swiper-slide img {
    width: 270px;
    height: 150px;
    text-align: center;
}

.airdrop-container {
    height: 540px;
}

.cd-main-content .airdrop-container .airdrop-item {
    width: 33.3%;
}

.cd-main-content .airdrop-container .airdrop-item .title {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    margin-bottom: 5px;
}

.cd-main-content .airdrop-container .airdrop-item .airdrop-item-content {
    height:auto;
}

.cd-main-content .airdrop-container .airdrop-item .airdrop-item-content .airdrop-item-content-bottom-bar {
    height: 50px;
    color: #333;
    font-size: 14px;
    line-height: 50px;
    background-color: #d5d5d5;
    text-align: center;
}

.cd-main-content .airdrop-container .airdrop-item .article-box {
    cursor: pointer;
    height: 150px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(221, 221, 221, 1);
}


.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article {
    position: relative;
    padding: 20px;
    min-height: 110px;
    margin-bottom: 0 !important;
}

.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article .thumbnail {
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 100px;

}

.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article .thumbnail img {
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
}

.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article .other {
    float: right;
    width: 70%;
}

.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article .other .name {
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    max-width: 75%;
    margin-bottom: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
}


.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article .other .font-drop-list {
    margin: 0 0 10px 0;
    columns: 1;
}

.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article .other .font-drop-list .est-value {
    font-size: 13px;
    display: inline-block;
}


.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article .other .req-drop-list {
    margin-bottom: 10px;
}

.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article .other .req-drop-list .reqdrop {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    text-align: center;
    border-width: 0 1px 4px;
    border-style: solid;
    border-color: #e3e3e3;
    border-radius: 100px;
    background: #f0f0f0;
}

.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article .other .air-time {
    font-size: 12px;
    position: absolute;
    right: 25px;
    bottom: -30px;
    float: right;
    clear: both;
}
.cd-main-content .airdrop-container .airdrop-item .article-box .inside-article .other .air-time p {
    position: relative;
    right: 20px;
    margin: 0;
    padding: 0;
}


.cd-main-content .explain-container {
    background-color: white;
    padding: 20px;
}

.cd-main-content .explain-container .segment {
}

.cd-main-content .explain-container .segment .title {
    font-size: 30px;
    font-weight: 300;
    text-transform: none;
    line-height: 1.2;
}

.cd-main-content .explain-container .segment .text {
    margin-top: 5px;
}



/*footer begin*/
.cd-footer {
    background-color: #4080b3;
    padding: 40px 0;
    /*height: 200px;*/
}